#container {
	position: relative;
	margin: 60px auto;
	height: 4100px;
	width: 1010px;
}

#timeline {
	position: relative;
	float: left;
	height: 100%;
	width: 5px;
	background-color: rgb(150, 150, 150);
	cursor: pointer;
}

.activity {
	position: relative;
	float: left;
	height: 100%;
	width: 500px;
}

#date-prompt {
	position: absolute;
	right: 15px;
	transition: opacity .15s ease-in;
	opacity: 0.0;
	color: white;
	background-color: rgb(60, 60, 60);
	padding: 2px;
	border-radius: 4px;
}
#date-prompt::before {
	border-color: rgb(60, 60, 60) transparent transparent; 
    border-style: solid;
    border-width: 8px 0px 8px 16px; 
    bottom: -14px;
    content: '';
    height: 0px;
    right: 3px; 
    position: absolute;
    width: 0px;
}

#start {
	top: 0;
	width: 30px;
	height: 30px;
	border-radius: 30px;
	border-style: solid;
	border-width: 5px;
	position: absolute;
	right: -17px;
	border-color: rgb(150, 150, 150);
	color: rgb(150, 150, 150);
	background-color: rgb(240, 240, 240);
	text-align: center;
	font-size: 25px;
}

.ball {
	width: 20px;
	height: 20px;
	border-radius: 20px;
	border-style: solid;
	border-width: 3px;
	position: absolute;
	right: -10px;
	border-color: rgb(150, 150, 150);
	color: rgb(150, 150, 150);
	background-color: rgb(240, 240, 240);
	text-align: center;
	font-weight: bold;
}

.line {
	background-color: rgb(150, 150, 150);
	position: absolute;
	width: 80px;
	height: 3px;
}

#activity-left .line {
	right: 12px;
}
#activity-right .line {
	left: 12px;
}
#activity-left .poster {
	position: absolute;
	right: 100px;
}
#activity-right .poster {
	position: absolute;
	left: 100px;
}

.poster {
	background-color: white;
	padding: 7px;
	opacity: 0.8;
	transition: opacity .15s ease-in;
	border-radius: 10px;
	width: 420px;
}
.poster:hover {
	opacity: 1.0;
}

.poster img {
	width: 150px;
	height: 200px;
}

#activity-right .poster>* {
	float: left;
}

#activity-left .poster>* {
	float: right;
}

.disc {
	width: 250px;
	color: rgb(60, 60, 60);
	margin: 0 10px;
}

h4 {
	font-size: 25px;
	margin: 0;
}
h5 {
	font-size: 20px;
	font-weight: normal;
	margin-top: 2px;
	margin-bottom: 25px;
}
